.heroContainer {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../public/SEMA-Counts-Kustom-Reflex-Background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
